<section class="section dashboard p-0">


  <div class="row">

    <a class="mb-4" style="text-decoration: none" href="/coin_explore">< Back to Coin Explore</a>

    <!-- Left side columns -->
    <div class="col-8">

      <div class="row">

        <!-- Coin Card -->
        <div class="col-xxl-4">

          <div class="card info-card" style="height: 172.59px">

            <div class="card-body">

               <h5 class="mr-3 text-end">#<%= @coin['market_cap_rank'] %></h5>


              <div class="d-flex align-items-center mt-1">

                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">

                  <img src="<%= @coin['image']['small'] %>" alt="">

                </div>

                <div class="ps-3">

                  <h6> <%= @coin['name'] %> </h6>
                  <h5 class="m-0" id="chartticker"><%= @coin['symbol'].upcase %></h5>


                </div>

              </div>

              <div class="d-flex justify-content-between">

                <a id ="link" class="m-2" target="_blank" href="<%= @coin['links']['homepage'][0] %>">
                  <span><%= @coin['links']['homepage'][0] %></span>
                </a>


              </div>




            </div>

          </div>

        </div>
        <!-- End Coin Card -->

        <!-- Market Info Card -->
        <div class="col-xxl-8">
          <div class="card info-card sales-card" style="height: 172.59px">

            <div class="card-body price">

              <div class="price-info">

                <p>Current Price:</p>
                <h2>$<%= number_with_delimiter(@coin['market_data']['current_price']['usd'], :delimiter => ',') %></h2>
                <div class="d-flex align-items-center justify-content-end">
                  <p class="mr-2">(24h)</p>
                  <div class="percentage" style="background-color:<%= colorful_percentage(@coin['market_data']['price_change_percentage_24h']) %>">
                    <div class="d-flex align-items-center">
                      <i class="<%= arrow_up_or_down(@coin['market_data']['price_change_percentage_24h']) %>"></i>
                      <p><%= @coin['market_data']['price_change_percentage_24h'].round(2) %>%</p>
                    </div>
                  </div>
                </div>

              </div>

              <div class="price-info wide">

                <div style="width: 45%; padding-right: 20px">
                  <p>Market Cap:</p>

                  <div class="d-flex justify-content-end mb-2 mt-1">
                    <p class="black">$<%= number_with_delimiter(@coin['market_data']['market_cap']['usd'], :delimiter => ',') %></p>
                  </div>
                  <div>
                    <p>Volume:</p>
                    <div class="d-flex justify-content-end mb-2 mt-1">
                      <p class="black">$<%= number_with_delimiter(@coin['market_data']['total_volume']['usd'], :delimiter => ',') %></p>
                    </div>
                  </div>
                </div>

                <div style="width: 45%; padding-right: 20px">
                  <p>All Time High:</p>
                  <div class="d-flex mb-2 mt-1 justify-content-end">
                    <p class="black">$<%= number_with_delimiter(@coin['market_data']['ath']['usd'], :delimiter => ',') %></p>
                  </div>
                  <div class="d-flex justify-content-end mb-2 mt-1">
                    <div class="dropdown mt-3">
                      <a id="trade-btn" class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                        Trade Now
                      </a>

                      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Binance</a></li>
                        <li><a class="dropdown-item" href="#">FTX</a></li>
                        <li><a class="dropdown-item" href="#">Coin Base</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>
        <!-- End Market Info Card -->

      </div>

      <!-- TV Chart -->
      <div class="card">

        <div class="card-body">

          <div class="tradingview-widget-container" id="tvchart"></div>

        </div>

      </div>
      <!-- End TV Chart -->

    </div>

    <!-- End Left side columns -->

    <!-- Right side columns -->
    <div class="col-4">

      <!-- TradingView Widget BEGIN -->
      <div class="card">

        <div class="card-body">

          <div class="tradingview-widget-container" style="margin: 0 auto">
            <div class="tradingview-widget-container__widget"></div>
            <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-technical-analysis.js" async>
            {
            "interval": "1D",
            "width": "90%",
            "isTransparent": true,
            "height": "450",
            "symbol": "BINANCE:<%= @coin['symbol'] %>USD",
            "showIntervalTabs": true,
            "locale": "en",
            "colorTheme": "light"
            }
            </script>
          </div>

        </div>

      </div>
      <!-- TradingView Widget END -->

      <!-- About Card -->
      <div class="card">

        <div class="card-body">

          <h5 class="card-title">About</h5>
          <p>
            <%= @coin['description']['en'][0..700] %>
          </p>
          <a href="">more</a>

        </div>

      </div>
      <!-- End About Card -->


    </div>
    <!-- End Right side columns -->
  </div>

</section>
