<%# <form action="coin_explore" onChange="LoadChart()" id="coinsymbol" accept-charset="UTF-8" method="get">
  <input type="text" name="query" id="query" class="form-control" placeholder="Find a coin">
  <input type="submit" name="commit" value="Search" class="btn btn-primary" data-disable-with="Search">
</form> %>

  <div class="row">
    <div class="col-lg-8">
      <div class="col-12">
        <div class="card recent-sales">
          <div class="card-body">
            <h5 class="card-title"> Coin <span>| Explore</span></h5>
            <%= form_tag coin_explore_path, method: :get do %>
              <%= text_field_tag :query,
                params[:query],
                class: "form-control",
                placeholder: "Find a coin"
              %>
              <%= submit_tag "Search", class: "btn btn-primary" %>
            <% end %>

            <div class="d-flex">
              <img class="coin-logo" style="width:20px; height:20px" src="<%= @coin[:image] if @coin %>" alt="">
              <p><%= @coin[:id] if @coin %> : price - <%= @coin[:current_price] if @coin %> | market cap - <%= @coin[:market_cap] if @coin %> | today's variation <%= @coin[:price_change_percentage_24h] if @coin %>%</p>
            </div>
            <div class="tradingview-widget-container" id="tvchart"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

<%#<%= form_tag coin_explore_path, method: :get do %>
<%#  <%= text_field_tag :query,
    params[:query],
    onChange: "LoadCharts()",
    id: "coinsymbol",
    placeholder: "Find a coin"
  %>
<%#  <%= submit_tag "Search", class: "btn btn-primary" %>
<%# <% end %>


<%# <% if @coin %>
<%# <% end %>
