<%= form_tag coin_explore_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a coin"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>
<div class="d-flex">
  <img class="coin-logo" src="<%= @coin[:image] if @coin %>" alt="">
  <p><%= @coin[:id] if @coin %> : price - <%= @coin[:current_price] if @coin %> | market cap - <%= @coin[:market_cap] if @coin %> | today's variation <%= @coin[:price_change_percentage_24h] if @coin %>%</p>
</div>
