<section class="section dashboard p-0">

  <div class="pagetitle">

    <h1>Explore new coins</h1>

  </div><!-- End Page Title -->

  <div class="row">

    <!-- Left side columns -->
    <div class="col-8">

      <div class="card recent-sales">

        <div class="card-body">

          <h5 class="card-title">Top 10 <span>| coins</span></h5>

          <table class="table table-borderless datatable">

            <thead>

              <tr>

                <th scope="col">#</th>
                <th scope="col">Coin</th>
                <th scope="col">Current Price</th>
                <th scope="col">All Time High</th>
                <th scope="col">Market Cap</th>
                <th scope="col">24h (%)</th>

              </tr>

            </thead>

            <tbody>

              <% @top10.each do |coin| %>
                <tr>

                  <th scope="row"><%= coin['market_cap_rank'] %></th>
                  <td><a href="/coin?query=<%= coin['name'] %>"><%= coin['name'] %></a></td>
                  <td>$<%= coin['current_price'] %></td>
                  <td> $<%= number_with_delimiter(coin['ath'].round(2), :delimiter => ',') %> </td>
                  <td>$<%= number_with_delimiter(coin['market_cap'], :delimiter => ',')%></td>
                  <td style="color: <%= colorful_percentage(coin['price_change_percentage_24h'])%>"><%= coin['price_change_percentage_24h'].round(2) %>%</td>

                </tr>
              <% end %>

            </tbody>

          </table>

        </div>

      </div>

    </div>
    <!-- End Left side columns -->

    <!-- Right side columns -->
    <div class="col-4">

      <div class="card recent-sales">

        <div class="card-body">

          <h5 class="card-title"> Coin <span>| Explore</span></h5>
          <%= form_tag coin_path, method: :get do %>
            <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              autocomplete:"off",
              placeholder: "Find a coin",
              id: "find-coin"
            %>
            <ul id="results" class="list-group"></ul>
            <%= submit_tag "Search", class: "btn btn-primary mt-2" %>
          <% end %>
          
        </div>
        <%= render 'shared/flashes' %>
      </div>

    </div>
    <!-- End Right side columns -->

  </div>

</section>
